In [ ]:
# M7-A - Programming Data Visualizations that Show Geographical Data in Python
# Created by Dr. Esther Mead, Assistant Professor of Computer Science, Southern Arkansas University
# Created for Dr. Esther Mead, SAU MCIS 6333 DVP Fall 2023
# Created October 26, 2023

In [ ]:
#Python DVP A7 by Team-1_Datavana
#Team Members
#Revanth Madasu_999903540
#Anusha Pakkiru_999903534

#Use Case: Elite Party Services

In [ ]:
# Teams MUST use the M7-A.ipynb and M7-A.Rmd notebooks as starting points for creating their A7 ipynb and Rmd notebooks.
# This M7-A requires the use of your M7 dataset.
# The final code block of this M7.ipynb contains the INSTRUCTIONS for the required code block for all teams to complete. It contains 4 tasks.

In [ ]:
# Dataset source: Dr. Esther Ledelle Mead, Southern Arkansas University, Assistant Professor of Computer Science, esthermead@saumag.edu

In [ ]:
# Hypothetical case: Recall from MX, that, in addition to survey research with customers in their target market, your Use Case Clients hired another research team to conduct a focus group wherein they asked a small group of target customers who did not take part in the survey research what they wanted in the specific product or service being offered.
# For example, if your use case is Elite Party Services, the target customers in the focus group were asked to discuss: "What do you want in elite party services?"
# OR if your use case is Yoga Studio, "What do you want in a new yoga studio?", etc.
# During the focus group, the GPS coordinates of where each target cutomers lived is another data point that was caputres.
# (Reminder: This is an entirely hypothetical case and does not contain real-world data, but instead contains data contrived for educational purposes.)

In [1]:
import piplite # When using the JupyterLite web-based environment, an "import" statement is used to load a layer called "piplite" that is needed for installing specific session-based libraries inside of a wrapper.
await piplite.install("openpyxl") # An "await" statement is used for installing (when/if later called on) a library for working with xlsx files called "openpyxl" from within a piplite wrapper for use in a session within the JupyterLite web-based environment.
await piplite.install("folium") # An "await" statement is used for installing (when/if later called on) a library for visualizing geospatial data called "folium" from within a piplite wrapper for use in a session within the JupyterLite web-based environment.

In [2]:
import pandas as pd # An "import" statement is used for importing a library for data processing called "pandas" and assigning it to a variable called "pd".
import folium # An "import" statement is used for importing a library for visualizing geospatial data called "folium".

In [29]:
# Create a base map centered around San Diego, which is where all of the target customers for the Use Case focus groups were selected from.
m = folium.Map(location=[32.7157, -117.1611], zoom_start=9)

# Use the read_excel() function from a library called pandas to read in a file that contains the coordinates from your team's Use Case M7 dataset that Dr. Mead posted on your team's Bb File Exchange.
coordinates = pd.read_excel("1 - Elite Party Services - M7 - Geographical Data.xlsx") # Change the filename to whatever yours is called. In this example code it is for a random use case.

# Use a for loop to iterate over the rows of the DataFrame and add markers.
for index, row in coordinates.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    folium.Marker(location=[latitude, longitude]).add_to(m)

# Use the save() function to save the map to an HTML file.
m.save("map.html")

In [ ]:
# The "map.html" file will show up in your Files panel to the left.
# Double-click it to open it up in a new JupyterLite tab.
# Click the "Trust HTML" button on the tab to show the map.
# To generate a stand-alone image file of the map for insertion into the .docx component of your A7, you will need to take a selection screenshot of it (command + shift + 4 on a mac. windows button + shift + S on a windows machine).

In [ ]:
# REQUIRED CODE BLOCK (WILL BE GRADED) TO BE CREATED BELOW THIS INSTRUCTIONS BLOCK BY EACH TEAM.
# Perform all of the tasks as a set in the empty code block below this instructions block.
# Required Task 1: Insert a line of code to output the first 5 rows of your M7 dataset.
# Required Task 2: Insert a fully optimized code documentation line next to your code line that you wrote for Task 1.
# Required Task 3: Insert a line of code to output a summary table of descriptive statistics of your M7 dataset.
# Required Task 4: Insert a fully optimized code documentation line next to your code line that you wrote for Task 3.

In [33]:
print("First 5 lines of the M7 dataset: \n",coordinates.head()) # head() method outputs first five lines of the coordinates dataset.
coordinates.describe() # Displays a summary table of statistics of coordinates dataset using the describe() method.

First 5 lines of the M7 dataset:
     Latitude   Longitude  user
0  32.524079 -117.109610     1
1  32.843673 -117.535613     2
2  32.900887 -116.939750     3
3  32.893191 -117.249446     4
4  32.583713 -117.366147     5

        Latitude   Longitude       user
count  40.000000   40.000000  40.000000
mean   32.723785 -117.176635  20.500000
std     0.121100    0.238888  11.690452
min    32.524079 -117.552704   1.000000
25%    32.607140 -117.350376  10.750000
50%    32.710272 -117.124831  20.500000
75%    32.831066 -116.967047  30.250000
max    32.915146 -116.763480  40.000000

In [32]:
# Determine locations of users likely to use Elite Party Services
m2 = folium.Map(location=[32.7157, -117.1611], zoom_start=9)
users_df = pd.read_excel("1 - Elite Party Services - M7 - Geographical Data.xlsx", sheet_name="User") # Read user sheet from 1 - Elite Party Services - M7 - Geographical Data.xlsx file to get user id which is as user column 
M3 = pd.read_excel("1 - Elite Party Services - M3 - Data Composition.xlsx", sheet_name="1 - Elite Party Services - M3")# Read likelihood data from 1 - Elite Party Services - M3 - Data Composition.xlsx file to get user id which is as Q8 column 
coordinates['user'] = users_df['User']
coordinates
df = coordinates.merge(M3, left_on = 'user', right_on = 'ID', how = 'inner') # merging columns with id. resultant will have user, Latitude, Longitude
df
df_likelihood = df[df['Q8'] > 0] # Filtering only users likely to use Elite Party Services
df_likelihood

# Use a for loop to iterate over the rows of the DataFrame and add markers.
for index, row in df_likelihood.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    folium.Marker(location=[latitude, longitude]).add_to(m2)

# Use the save() function to save the map to an HTML file.
m2.save("likely_map.html")
df_likelihood

     Latitude   Longitude  user  ID  Q8  Q9  Q10  Q11  Q12
0   32.524079 -117.109610     1   1   1   2    1    1    6
4   32.583713 -117.366147     5   5   1   2   -2    1    5
7   32.596135 -116.972835     8   8   1   3    1    1    6
8   32.602618 -117.397651     9   9   1   1    1    1    3
12  32.608578 -117.500185    13  13   2   0    2    2    8
15  32.683670 -117.507536    16  16   1   1    2    1    4
17  32.814123 -117.111644    18  18   1   3   -2    2    8
20  32.860883 -117.087380    21  21   2   2   -2    2    4
21  32.655173 -116.763480    22  22   1   1    1    1    7
22  32.638955 -116.949683    23  23   1   1    1    2    4
26  32.806188 -116.936511    27  27   1   2    1    1    4
29  32.628384 -116.843135    30  30   1   0    1    1    3
31  32.708301 -117.342808    32  32   1   2   -1    2    5
37  32.885207 -117.327328    38  38   2   3    2    1    3
39  32.781241 -117.345119    40  40   2   2    1    2    4